<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>layers</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Gibson-BoldItalic.otf</string>
		<string>Gibson-Regular.otf</string>
		<string>Gibson-RegularItalic.otf</string>
		<string>Montserrat-Black.otf</string>
		<string>Montserrat-BlackItalic.otf</string>
		<string>Montserrat-Bold.otf</string>
		<string>Montserrat-BoldItalic.otf</string>
		<string>Montserrat-ExtraBold.otf</string>
		<string>Montserrat-ExtraBoldItalic.otf</string>
		<string>Montserrat-ExtraLight.otf</string>
		<string>Montserrat-ExtraLightItalic.otf</string>
		<string>Montserrat-Italic.otf</string>
		<string>Montserrat-Light.otf</string>
		<string>Montserrat-LightItalic.otf</string>
		<string>Montserrat-Medium.otf</string>
		<string>Montserrat-MediumItalic.otf</string>
		<string>Montserrat-Regular.otf</string>
		<string>Montserrat-SemiBold.otf</string>
		<string>Montserrat-SemiBoldItalic.otf</string>
		<string>Montserrat-Thin.otf</string>
		<string>Montserrat-ThinItalic.otf</string>
		<string>Poppins-Black.otf</string>
		<string>Poppins-BlackItalic.otf</string>
		<string>Poppins-Bold.otf</string>
		<string>Poppins-BoldItalic.otf</string>
		<string>Poppins-ExtraBold.otf</string>
		<string>Poppins-ExtraBoldItalic.otf</string>
		<string>Poppins-ExtraLight.otf</string>
		<string>Poppins-ExtraLightItalic.otf</string>
		<string>Poppins-Italic.otf</string>
		<string>Poppins-Light.otf</string>
		<string>Poppins-LightItalic.otf</string>
		<string>Poppins-Medium.otf</string>
		<string>Poppins-MediumItalic.otf</string>
		<string>Poppins-Regular.otf</string>
		<string>Poppins-SemiBold.otf</string>
		<string>Poppins-SemiBoldItalic.otf</string>
		<string>Poppins-Thin.otf</string>
		<string>Poppins-ThinItalic.otf</string>
		<string>Proximanova-bold.otf</string>
		<string>Proximanova-regular.otf</string>
		<string>Roboto-Bold.otf</string>
		<string>Roboto-Medium.otf</string>
		<string>Roboto-Regular.otf</string>
		<string>Rubik-Black.otf</string>
		<string>Rubik-BlackItalic.otf</string>
		<string>Rubik-Bold.otf</string>
		<string>Rubik-BoldItalic.otf</string>
		<string>Rubik-ExtraBold.otf</string>
		<string>Rubik-ExtraBoldItalic.otf</string>
		<string>Rubik-Italic.otf</string>
		<string>Rubik-Light.otf</string>
		<string>Rubik-LightItalic.otf</string>
		<string>Rubik-Medium.otf</string>
		<string>Rubik-MediumItalic.otf</string>
		<string>Rubik-Regular.otf</string>
		<string>Rubik-SemiBold.otf</string>
		<string>Rubik-SemiBoldItalic.otf</string>
		<string>SF-Pro-Display-Bold.otf</string>
		<string>SFProText-Medium.otf</string>
		<string>SFProText-Regular.otf</string>
		<string>SFProText-Semibold.otf</string>
		<string>SourceSansPro-Regular.otf</string>
		<string>gibson-SemiBold.otf</string>
		<string>gibson-bold.otf</string>
		<string>vijaya.otf</string>
	</array>
</dict>
</plist>
